@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Urbanist&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

body {
    background-color: black;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    min-height: 100vh;
}

main {
    min-height: 70vh;
}

h1,
p {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    color: rgb(255, 255, 255);
}

.logo {
    text-align: left;
    font-size: 35px;
    font-family: 'Roboto';
}

.logo a {
    text-decoration: none;
}

/* BARRA DE NAVEGACION */

nav.navbar {
    background-color: #46166B !important;
    display: flex;
    justify-content: end;
    width: 100% !important;
}

.navbar a {
    text-decoration: none;
    color: #fff;
    font-family: 'Roboto';
    font-size: 16px;
    padding-right: 15px;
}

a.nav-link.active {
    font-size: 18px;
}

a.navbar-brand {
    font-family: 'Roboto';
    font-size: 30px;
    font-weight: bold;
}

.button-border {
    border-color: white;
    border-width: 2px;
}

.burguer-line {
    border-color: white;
    border-width: 2px;
}

/* INICIO */

.principal {
    max-width: 100%;
}

.text-container {
    display: flex;
    justify-content: space-between;
}

.principal-text {
    display: block;
    margin: 250px 80px;
    width: 500px;

}

.principal-text p,
.principal-text button {
    margin: 5px;
}

.inicio-foto {
    max-width: 100vw;
    display: flex;
    /* flex-wrap: wrap; */
}

.inicio-foto img {
    width: 100%;
    /* min-width: 100%; */
}

.boldtype {
    font-weight: bold;
}

.grad-button {
    background: linear-gradient(to right, #4b0082, rgb(73, 73, 197));
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    font-size: 15px;
}

.grad-button:hover {
    background: #4B0082;
    transition: .5s;
}

.grad-button:active {
    background: #9e9e9e;
}

/* CONTACTO */

#contact-body {
    background-color: rgb(36, 36, 36);
}

.contact-title {
    text-align: center;
    margin-top: 10px;
    color: whitesmoke;
}

form {
    background-color: rgb(26, 26, 26);
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    box-shadow: 0px 2px 5px #888888;
    color: white;
}

label {
    display: block;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 20px;
    resize: vertical;
}

input[type="submit"] {
    background-image: linear-gradient(to right, #4b0082, rgb(73, 73, 197));
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

input[type="submit"]:hover {
    background-color: #45a049;
}

/* SOBRE MÍ */

.article-bio {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.article-bio img {
    height: 758px;
    border-radius: 30px;
}

.article-bio p {
    display: inline-block;
    flex-direction: row;
    width: 400px;
    margin: 20px;
    padding: 5px;
}

.text {
    width: 75vh;
}

.text button {
    display: block;
    margin: auto;
    margin-bottom: 20px;
}

.title-about-me {
    font-size: 50px;
    text-align: center;
    margin: 10px;
    margin-left: 529px;
}

/* Info */

:root {
    font-size: 1rem;
    box-sizing: inherit;
}

*:before,
*:after {
    box-sizing: inherit;
}

.info-p p {
    margin: 0;
    color: rgb(26, 26, 26);
}

.info-main {
    display: flex;
    align-items: center;
    justify-content: center;

    min-height: 100vh;
    padding: 30px;

    color: #224;
}

.info p:not(:last-child) {
    margin-bottom: 1.5em;
}

#body-info {
    min-height: 100vh;
    color: #224;
    background:
        url(https://source.unsplash.com/E8Ufcyxz514/2400x1823) center / cover no-repeat fixed;
}

.cards {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    max-width: 500px;
    padding: 35px;

    border: 1px solid rgba(255, 255, 255, .25);
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.45);
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.25);

    backdrop-filter: blur(15px);
}

.card-footer {
    font-size: 0.65em;
    color: #446;
}

/* INSPIRACION */

.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-template-areas:
        "video-1 video-2 ."
        "video-3 video-4 ."
        "video-5 video-6 .";
}

.container {
    margin: 0;
    width: 100vw;
}

.container iframe {
    width: 600px;
    padding: 10px;
}

.inspo-title h1 {
    text-align: center;
}

.video-1 {
    grid-area: video-1;
}

.video-2 {
    grid-area: video-2;
}

.video-3 {
    grid-area: video-3;
}

.video-4 {
    grid-area: video-4;
}

.video-5 {
    grid-area: video-5;
}

.video-6 {
    grid-area: video-6;
}

/* FOOTER */

footer {
    display: flex;
    justify-content: center;
    background-color: #333333;
    min-height: 10vh;
    height: 150px;
    opacity: 85%;
}

.redes,
.contact-elements {
    display: flex;
    justify-content: space-around;
    background-color: #333333;
    margin: 10px;
    text-decoration: none;
}

.contact-elements a {
    text-decoration: none;
    color: white;
}

.redes div {
    background-color: #3d3d3d;
    color: rgb(255, 255, 255);
    padding: 10px;
    border-radius: 50%;
}

.img-whatsapp img {
    width: 20px;
}

.redes a {
    color: white;
    text-decoration: none;
}

.copy {
    text-align: center;
}

@media (max-width:768px) {

    .principal-text {
        margin: 200px 5px;
    }

    .text button {
        margin-bottom: 20px;
        margin-left: 130px;
    }

    .mi-main {
        padding: 30px;
    }
}

@media (min-width: 992px) {

    .navbar-expand-lg .navbar-collapse {
        display: flex !important;
        flex-basis: auto;
        justify-content: flex-end;
    }

}

@media (max-width: 948px) {

    .title-about-me {
        font-size: 30px;
        text-align: center;
        margin: 10px;
    }

    .text {
        width: 75vh;
        display: grid;
        justify-content: center;
    }
}

@media (max-width: 626px) {

    .text-container {
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-between;
    }

}

@media (max-width: 425px) {

    .principal-text {
        /* margin: 93px 49px; */
        width: 349px;
    }

}