@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Urbanist&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", Arial, Helvetica, sans-serif; }

body {
  background-color: black;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  min-height: 100vh; }

main {
  min-height: 70vh; }

h1,
p {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  color: white; }

.logo {
  text-align: left;
  font-size: 35px;
  font-family: 'Roboto'; }
  .logo a {
    text-decoration: none; }

.text-container {
  display: flex;
  justify-content: space-between; }

.principal-text {
  display: block;
  margin: 250px 80px;
  max-width: 100%; }
  .principal-text p,
  .principal-text button {
    margin: 5px; }

.principal {
  max-width: 100%; }

.inicio-foto {
  max-width: 100vw;
  display: flex; }
  .inicio-foto img {
    width: 100%; }

.boldtype {
  font-weight: bold; }

@media (max-width: 768px) {
  .principal-text {
    margin: 81px 0; } }

@media (max-width: 626px) {
  .text-container {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between; } }

@media (max-width: 425px) {
  .inicio-foto img {
    margin-top: 130px;
    max-width: 100%; } }

@media (max-width: 626px) {
  .text-container {
    align-content: flex-start;
    flex-wrap: wrap; }
  .principal-text p {
    width: 100vw;
    max-width: 415px; } }

#contact-body {
  background-color: #1a1a1a; }

.contact-title {
  text-align: center;
  margin-top: 10px;
  color: white; }

form {
  background-color: #333333;
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  box-shadow: 0px 2px 5px #9e9e9e;
  color: white;
  margin-bottom: 10px; }
  form label {
    display: block;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px; }
  form input[type="text"],
  form input[type="email"],
  form input[type="tel"],
  form textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #9e9e9e;
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 20px;
    resize: vertical;
    background-color: #1a1a1a;
    color: white; }
  form input[type="submit"] {
    cursor: pointer; }
  form input[type="submit"]:hover {
    background-color: #45a049; }

.article-bio {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap; }
  .article-bio img {
    height: 758px;
    border-radius: 30px; }
  .article-bio p {
    display: inline-block;
    flex-direction: row;
    width: 400px;
    margin: 20px;
    padding: 5px; }

.text {
  width: 75vh; }
  .text button {
    display: block;
    margin: auto;
    margin-bottom: 20px; }

.title-about-me {
  font-size: 50px;
  text-align: center;
  margin: 10px;
  margin-left: 529px; }

@media (max-width: 948px) {
  .title-about-me {
    font-size: 30px;
    text-align: center; }
  .text {
    width: 75vw;
    display: flex;
    justify-content: center;
    flex-wrap: wrap; } }

@media (max-width: 436px) {
  .article-bio img {
    height: 600px; } }

@media (max-width: 948px) {
  .title-about-me {
    font-size: 30px;
    text-align: center;
    margin-left: 0; } }

@media (max-width: 853px) {
  .text {
    width: 100vw; } }

:root {
  font-size: 1rem;
  box-sizing: inherit; }

*::before,
*::after {
  box-sizing: inherit; }

.info-p p {
  margin: 0;
  color: #1a1a1a; }

.info-main {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 30px;
  color: #224; }

.info p:not(:last-child) {
  margin-bottom: 1.5em; }

#body-info {
  min-height: 100vh;
  color: #224;
  background: url(https://source.unsplash.com/E8Ufcyxz514/2400x1823) center/cover no-repeat fixed; }

.cards {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 500px;
  padding: 35px;
  border: 1px solid rgba(255, 255, 255, 0.25);
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.45);
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(15px); }

.card-footer {
  font-size: 0.65em;
  color: #446; }

.inspo-tittle h1 {
  padding: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center; }

.carousel-video {
  padding: 20px; }

.control-border {
  background-color: #726f6f;
  border-radius: 65%; }

iframe {
  margin: auto;
  width: 43.75rem; }

@media (max-width: 568px) {
  .iframe-container {
    display: grid;
    place-items: center;
    width: 100%; }
    .iframe-container iframe {
      top: 0;
      left: 0;
      width: 100%;
      height: 100%; } }

footer {
  display: flex;
  justify-content: center;
  background-color: #333333;
  min-height: 10vh;
  height: 150px;
  opacity: 0.85; }
  footer .redes,
  footer .contact-elements {
    display: flex;
    justify-content: space-around;
    background-color: #333333;
    margin: 10px;
    text-decoration: none; }
  footer .contact-elements a {
    text-decoration: none;
    color: white; }
  footer .redes div {
    background-color: #1a1a1a;
    color: white;
    padding: 10px;
    border-radius: 50%; }
  footer .img-whatsapp img {
    width: 20px; }
  footer a {
    color: white;
    text-decoration: none; }
  footer .copy {
    text-align: center; }

nav.navbar {
  background-color: #46166B !important;
  display: flex;
  justify-content: end;
  width: 100% !important; }

.navbar a {
  text-decoration: none;
  color: white;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-size: 16px;
  padding-right: 15px; }

a.nav-link.active {
  font-size: 18px; }

a.navbar-brand {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-size: 30px;
  font-weight: bold; }

.burguer-line {
  border-color: white;
  border-width: 2px;
  background-image: url(../imagenes/menu.png); }

@media (min-width: 992px) {
  .navbar-expand-lg .navbar-collapse {
    display: flex !important;
    flex-basis: auto;
    justify-content: flex-end; } }

.grad-button-style, .grad-button, form input[type="submit"] {
  background: linear-gradient(to right, #4b0082, #4949c5);
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  font-size: 15px; }
  .grad-button-style:hover, .grad-button:hover, form input:hover[type="submit"] {
    background: #4B0082;
    transition: .5s; }
  .grad-button-style:active, .grad-button:active, form input:active[type="submit"] {
    background: #9e9e9e; }
