.text-container {
    display: flex;
    justify-content: space-between;
}

.principal-text {
    display: block;
    margin: 250px 80px;
    max-width: 100%;

    p,
    button {
        margin: 5px;
    }
}

.principal {
    max-width: 100%;
}

.inicio-foto {
    max-width: 100vw;
    display: flex;

    & img {
        width: 100%;
    }
}

.boldtype {
    font-weight: bold;
}

.grad-button {
    @extend .grad-button-style;
}

@media (max-width:768px) {

    .principal-text {
        margin: 81px 0;
    }
}

@media (max-width: 626px) {

    .text-container {
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-between;
    }

}

@media (max-width: 425px) {

    .inicio-foto img {
        margin-top: 130px;
        max-width: 100%;
    }
}

@media (max-width: 626px) {
    .text-container {
        align-content: flex-start;
        flex-wrap: wrap;
    }

    .principal-text p {
        max-width: 415px;
    }
}