.inspo-tittle h1 {
    padding: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

.carousel-video {
    padding: 20px;
}

.control-border {
    background-color: #726f6f;
    border-radius: 65%;
}

iframe {
    margin: auto;
    width: 43.75rem;
}