.inspo-tittle h1 {
    padding: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

.carousel-video {
    padding: 20px;
}

.control-border {
    background-color: #726f6f;
    border-radius: 65%;
}

iframe {
    margin: auto;
    width: 43.75rem;
}

@media (max-width:568px) {
    .iframe-container {
        display: grid;
        place-items: center;
        width: 100%;

        & iframe {
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
    }
}