$purple-color: #46166B;
$dark-color: black;
$principal-gray: #333333;
$light-color: rgb(255, 255, 255);
$grad-color: linear-gradient(to right, #4b0082, rgb(73, 73, 197));
$light-gray: #9e9e9e;
$form-color: rgb(26, 26, 26);
$green-color: #45a049;
$blue-color: #224;
$blue-light: #446;